.item-modal {
  .loading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .preview-container {
    height: 400px;
  }

  .name {
    font-size: 16px;
  }

  .size, .insert-time {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
  }

  .actions {
    
  }

}