.space-page {
  height: 100%;

  .list {
    height: calc(~"100% - 45px");

    .am-list-view-scrollview-content {
      width: 100%;
    }

    .thumb {
      height: 40px;
      width: 40px;
    }
    .insert-time {
      float: right;
    }

    .delete-button {
      background-color: #F4333C;
      color: #fff;
      padding: 10px;
    }

    .footer {
      padding: 30px;
      color: #888;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}