{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 0.5%",
                        "last 2 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ]
    ]
}
