.space-page {
  .header {
    background-color: #fff;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e8e8e8;

    .logo {
      cursor: pointer;
    }

    .title {
      font-size: 22px;
      margin-top: 4px;
    }

    .tip {
      margin-top: 4px;
      font-size: 16px;
      margin-left: auto;

      .key {
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
        color: #333;
        display: inline;
        font-size: 13px;
        padding: 5px 8px;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        vertical-align: top;
      }
    }
  }

  .content {
    padding: 15px;
    background-color: #fff;

    .list {
      display: flex;
      flex-wrap: wrap;

      .dragger-item {
        border-radius: 6px;
        width: 150px;
        height: 170px;
        margin: 8px;
      }
    }
    .load-more {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }

  .refresh {
    position: fixed;
    right: 50px;
    bottom: 50px;
  }
}